#shape-area {
    height: 600px;
    width: 600px;
    background-color: cornflowerblue;
    position: relative;
}

#shape-info {
    background-color: crimson;
}

.rectangle {
    background-color: green;
    position: absolute;
}

.square {
    background-color: red;
    position: absolute;
}

.circle {
    background-color: purple;
    border-radius: 50%;
    position: absolute;
}

.triangle {
    position: absolute;
}